@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
span{
    font-family: 'Oleo Script', cursive;
    font-size: 32px;
    color: rgb(22, 166, 223);
}
span span{
    color: rgb(248, 183, 63); 
}
.navbar a{
margin: 0;
padding: 0;
padding: 5px;
}
.active{
    background: rgb(248, 183, 63);
    color: white !important;
}
.nav-link:hover{
    background: rgb(248, 183, 63);
    color: white !important;
}