.body{
    /* background-image: linear-gradient(to bottom, rgba(19, 161, 226, 0.815) 0%,rgba(6, 160, 250, 0.815) 100%), url("https://cdn.pixabay.com/photo/2018/09/12/22/43/bangladesh-3673378_960_720.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}
