.body{
    background-image: linear-gradient(to bottom, rgba(19, 161, 226, 0.815) 0%,rgba(6, 160, 250, 0.815) 100%), url("https://farm3.staticflickr.com/2664/3867767062_ce759d1785.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
